* {
    box-sizing: border-box;

}
    

.flex{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    

    

}
.card img{
    margin: 8px;
    padding: 5px;
    
}

